/* { 
  box-sizing: border-box; 
}*/
html {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header"
  "nav article ads"
  "footer footer footer";
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;

  }
header {
  padding: 20px;
  /*background: rgba(255, 0, 0, 0.219);*/
}
article {
  padding: 20px;
  opacity: 0.5;
 /* background: rgb(0, 255, 106);*/
}
.article_poem {
  text-align: center;
}
.write {
  text-align: right;
  font-style: italic;
}
.shadow {
}
div {
  padding: 20px;
  /*background: rgba(49, 121, 189, 0.959);*/
}
div, article {
  background-image: url(background.jpg);
  background-size: cover;
  background-color: #c7b39b;
}
footer{
  padding: 20px;
  background: rgba(231, 182, 20, 0.226);
  text-align: right
}

#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle {
  grid-area: article;
  }
#mainNav {
  grid-area: nav;
  }
#siteAds {
  grid-area: ads;
  }

/*меню*/

  /* Планшет */
@media screen and (max-width: 975px) {
  body{
  grid-template-areas:
  "header header"
  "article nav"
  "footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  }
  #siteAds {
    display: none;
  }
  }
 /* Смартфон. */
@media screen and (max-width: 575px) {
  body{
  grid-template-areas:
  "header"
  "article"
  "nav"
  "footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  }
  #siteAds {
    display: none;
  }
  }